$default-color-black: #0B0C10;
$defaul-color-gray:#1F2838;
$default-color-white: #C5C6C7;
$default-color-aqua: #66FCF1;
$default-color-aqua-dark: #45A29E;

$default-color-black-opc: rgba(11, 12, 16,0.7);

$font-weight-200: 200;
$font-weight-400: 400;
$font-weight-700: 700;

$font-type-stack: 'Nunito', sans-serif;
$font-type-sec: 'Unbounded', cursive;