<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Portal de noticias</title>
   <link rel="stylesheet" href="/css/all.css">
   <link rel="stylesheet" href="/css/style.css">
</head>
<body>
   <header>
      <div class="center">
         <h1><a href="/">Fluid<span>NEWS</span></a></h1>
         <div class="search-icon">
            <i class="fa-solid fa-magnifying-glass"></i>
         </div>
         <div class="container_form">
            <div class="close" id="close">
               <i class="fa-solid fa-xmark"></i>
            </div>
            <form action="/" class="search">
               <input type="text" placeholder="pesquisar...">
               <button type="submit">Buscar</button>
            </form>
         </div>
      </div>
   </header>