@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&family=Unbounded:wght@200;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

html,
body {
  height: 100%;
  background-color: #1F2838;
}

.center {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%;
}

section {
  padding: 40px 0;
}

header {
  padding: 15px 0;
  background-color: #0B0C10;
  border-bottom: 2px solid #66FCF1;
}
header .center {
  color: #45A29E;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .center h1 {
  font-weight: 200;
}
header .center h1 a {
  color: inherit;
  text-decoration: none;
}
header .center h1 a span {
  font-weight: 400;
  color: #66FCF1;
}
header .center .search-icon {
  display: none;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border-radius: 50%;
  border: 2px solid #66FCF1;
  cursor: pointer;
  background-color: #0B0C10;
  text-decoration: none;
}
header .center .search-icon i {
  color: #66FCF1;
  font-size: 25px;
}
header .center .container_form .close {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #0B0C10;
  right: 12.5px;
  top: 15px;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  border: 2px solid #66FCF1;
}
header .center .container_form .close i {
  font-size: 25px;
  color: #66FCF1;
}
header .center .container_form form {
  width: 100%;
  max-width: 300px;
  position: relative;
}
header .center .container_form form input {
  width: 100%;
  padding: 7px 15px;
  font-size: 16px;
  outline: none;
  border: 0;
  background-color: transparent;
  border-right: 2px solid #66FCF1;
  border-bottom: 2px solid #66FCF1;
  color: #66FCF1;
}
header .center .container_form form input::placeholder {
  color: #45A29E;
}
header .center .container_form form button {
  display: none;
}

@media screen and (max-width: 1024px) {
  header .center .search-icon {
    display: flex;
  }
  header .center .container_form {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(11, 12, 16, 0.7);
    left: 0;
    top: 0;
  }
  header .center .container_form.active {
    display: flex;
    z-index: 1000;
  }
  header .center .container_form .close {
    cursor: pointer;
    display: flex;
  }
  header .center .container_form form {
    background-color: #1F2838;
    padding: 30px 20px;
  }
  header .center .container_form form button {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    padding: 7px 10px;
    background-color: #0B0C10;
    border: 2px solid #45A29E;
    color: #45A29E;
    font-size: 16px;
  }
}
footer {
  padding: 20px 0;
  background-color: #0B0C10;
  border-top: 2px solid #66FCF1;
  color: #66FCF1;
}
footer p {
  font-family: "Unbounded", cursive;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p b {
  margin-left: 4px;
}
footer p span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4px;
  width: 20px;
  height: 20px;
  background-color: #66FCF1;
  color: #1F2838;
  border-radius: 50%;
}

section.noticia-destaque .center {
  max-width: 800px;
  position: relative;
}
section.noticia-destaque .center div.destaque {
  overflow: hidden;
  background-image: var(--img);
  width: 100%;
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 10px;
}
section.noticia-destaque .center div.destaque::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(11, 12, 16, 0.7);
}
section.noticia-destaque .center div.destaque .text-destaque {
  padding: 40px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #66FCF1;
}
section.noticia-destaque .center div.destaque .text-destaque span.category {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: absolute;
  right: 30px;
  bottom: 40px;
  font-family: "Unbounded", cursive;
  color: #C5C6C7;
}
section.noticia-destaque .center div.destaque .text-destaque span.category.min {
  font-size: 10px;
}
section.noticia-destaque .center div.destaque .text-destaque h1 {
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 2px;
}
section.noticia-destaque .center div.destaque .text-destaque p {
  font-weight: 200;
  letter-spacing: 2px;
}
section.noticia-destaque .center div.destaque .text-destaque a.linkbutton {
  background-color: #0B0C10;
  color: #66FCF1;
  border: 2px solid #66FCF1;
  text-decoration: none;
  padding: 8px 15px;
  display: inline-block;
  border-radius: 2px;
  position: relative;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 20px;
}
section.noticia-destaque .center div.destaque .text-destaque a.linkbutton span {
  position: relative;
  z-index: 2;
  transition: 0.3s;
}
section.noticia-destaque .center div.destaque .text-destaque a.linkbutton span::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 2px;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background-color: #66FCF1;
  transition: 0.3s;
}
section.noticia-destaque .center div.destaque .text-destaque a.linkbutton::before, section.noticia-destaque .center div.destaque .text-destaque a.linkbutton::after {
  content: "";
  height: 100%;
  width: 0;
  top: 0;
  z-index: 1;
  transition: 0.3s;
  position: absolute;
  background-color: #66FCF1;
}
section.noticia-destaque .center div.destaque .text-destaque a.linkbutton::before {
  left: 50%;
}
section.noticia-destaque .center div.destaque .text-destaque a.linkbutton::after {
  right: 50%;
}
section.noticia-destaque .center div.destaque .text-destaque a.linkbutton:hover {
  border-color: #0B0C10;
  box-shadow: 11px 25px 58px -25px #66FCF1;
}
section.noticia-destaque .center div.destaque .text-destaque a.linkbutton:hover span {
  color: #0B0C10;
}
section.noticia-destaque .center div.destaque .text-destaque a.linkbutton:hover span::before {
  width: 30px;
  background-color: #0B0C10;
}
section.noticia-destaque .center div.destaque .text-destaque a.linkbutton:hover::before, section.noticia-destaque .center div.destaque .text-destaque a.linkbutton:hover::after {
  width: 50%;
}

section.outras-noticias {
  background-color: rgba(11, 12, 16, 0.7);
}
section.outras-noticias .center h1 {
  color: #C5C6C7;
  font-size: 35px;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Unbounded", cursive;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
section.outras-noticias .center h1:before {
  content: "";
  width: 200px;
  height: 5px;
  background-color: #45A29E;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 20px 0 90px 20px;
  transition: 0.3s;
}
section.outras-noticias .center .news {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 10px;
}
section.outras-noticias .center .news .ultimas {
  display: grid;
  justify-content: center;
  grid-template-columns: 50% 50%;
  gap: 10px;
}
section.outras-noticias .center .news .ultimas .noticia-single {
  overflow: hidden;
  background-color: #0B0C10;
  border-right: 0;
  border-bottom: 2px;
  border-top: 2px;
  border-left: 2px;
  border-radius: 0 0 0 10px;
  border-style: solid;
  border-color: #66FCF1;
}
section.outras-noticias .center .news .ultimas .noticia-single img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
section.outras-noticias .center .news .ultimas .noticia-single .text {
  padding: 30px 10px;
  position: relative;
  color: #66FCF1;
}
section.outras-noticias .center .news .ultimas .noticia-single .text span.category {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: absolute;
  right: 30px;
  bottom: 40px;
  font-family: "Unbounded", cursive;
  color: #66FCF1;
  top: 10px;
  right: 10px;
}
section.outras-noticias .center .news .ultimas .noticia-single .text span.category.min {
  font-size: 10px;
}
section.outras-noticias .center .news .ultimas .noticia-single .text h2 {
  margin-bottom: 15px;
}
section.outras-noticias .center .news .ultimas .noticia-single .text p {
  margin-bottom: 15px;
}
section.outras-noticias .center .news .ultimas .noticia-single .text a {
  background-color: #0B0C10;
  color: #66FCF1;
  border: 2px solid #66FCF1;
  text-decoration: none;
  padding: 8px 15px;
  display: inline-block;
  border-radius: 2px;
  position: relative;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
}
section.outras-noticias .center .news .ultimas .noticia-single .text a span {
  position: relative;
  z-index: 2;
  transition: 0.3s;
}
section.outras-noticias .center .news .ultimas .noticia-single .text a span::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 2px;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background-color: #66FCF1;
  transition: 0.3s;
}
section.outras-noticias .center .news .ultimas .noticia-single .text a::before, section.outras-noticias .center .news .ultimas .noticia-single .text a::after {
  content: "";
  height: 100%;
  width: 0;
  top: 0;
  z-index: 1;
  transition: 0.3s;
  position: absolute;
  background-color: #66FCF1;
}
section.outras-noticias .center .news .ultimas .noticia-single .text a::before {
  left: 50%;
}
section.outras-noticias .center .news .ultimas .noticia-single .text a::after {
  right: 50%;
}
section.outras-noticias .center .news .ultimas .noticia-single .text a:hover {
  border-color: #0B0C10;
  box-shadow: 11px 25px 58px -25px #66FCF1;
}
section.outras-noticias .center .news .ultimas .noticia-single .text a:hover span {
  color: #0B0C10;
}
section.outras-noticias .center .news .ultimas .noticia-single .text a:hover span::before {
  width: 30px;
  background-color: #0B0C10;
}
section.outras-noticias .center .news .ultimas .noticia-single .text a:hover::before, section.outras-noticias .center .news .ultimas .noticia-single .text a:hover::after {
  width: 50%;
}
section.outras-noticias .center .news .mais-lidas h2 {
  padding: 6px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 3px 3px 0 0;
  background-color: #66FCF1;
  color: #0B0C10;
  border-bottom: 2px solid #0B0C10;
}
section.outras-noticias .center .news .mais-lidas .news-plus {
  padding: 10px;
  background-color: #1F2838;
}
section.outras-noticias .center .news .mais-lidas .news-plus .card-news {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 5px;
  margin-bottom: 10px;
}
section.outras-noticias .center .news .mais-lidas .news-plus .card-news img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  object-position: center;
}
section.outras-noticias .center .news .mais-lidas .news-plus .card-news .text {
  padding-right: 10px;
  color: #C5C6C7;
}
section.outras-noticias .center .news .mais-lidas .news-plus .card-news .text div.overview {
  display: none;
}
section.outras-noticias .center .news .mais-lidas .news-plus .card-news .text a.linkbutton {
  background-color: #0B0C10;
  color: #66FCF1;
  border: 2px solid #66FCF1;
  text-decoration: none;
  padding: 8px 15px;
  display: inline-block;
  border-radius: 2px;
  position: relative;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 10px;
}
section.outras-noticias .center .news .mais-lidas .news-plus .card-news .text a.linkbutton span {
  position: relative;
  z-index: 2;
  transition: 0.3s;
}
section.outras-noticias .center .news .mais-lidas .news-plus .card-news .text a.linkbutton span::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 2px;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background-color: #66FCF1;
  transition: 0.3s;
}
section.outras-noticias .center .news .mais-lidas .news-plus .card-news .text a.linkbutton::before, section.outras-noticias .center .news .mais-lidas .news-plus .card-news .text a.linkbutton::after {
  content: "";
  height: 100%;
  width: 0;
  top: 0;
  z-index: 1;
  transition: 0.3s;
  position: absolute;
  background-color: #66FCF1;
}
section.outras-noticias .center .news .mais-lidas .news-plus .card-news .text a.linkbutton::before {
  left: 50%;
}
section.outras-noticias .center .news .mais-lidas .news-plus .card-news .text a.linkbutton::after {
  right: 50%;
}
section.outras-noticias .center .news .mais-lidas .news-plus .card-news .text a.linkbutton:hover {
  border-color: #0B0C10;
  box-shadow: 11px 25px 58px -25px #66FCF1;
}
section.outras-noticias .center .news .mais-lidas .news-plus .card-news .text a.linkbutton:hover span {
  color: #0B0C10;
}
section.outras-noticias .center .news .mais-lidas .news-plus .card-news .text a.linkbutton:hover span::before {
  width: 30px;
  background-color: #0B0C10;
}
section.outras-noticias .center .news .mais-lidas .news-plus .card-news .text a.linkbutton:hover::before, section.outras-noticias .center .news .mais-lidas .news-plus .card-news .text a.linkbutton:hover::after {
  width: 50%;
}

@media (max-width: 1024px) {
  section.noticia-destaque .center div.destaque {
    height: 100%;
  }
  section.noticia-destaque .center div.destaque .text-destaque p {
    font-size: 15px;
  }
  section.outras-noticias .center h1 {
    text-align: center;
  }
  section.outras-noticias .center h1::before {
    content: none;
  }
  section.outras-noticias .center .news {
    grid-template-columns: 100%;
  }
  section.outras-noticias .center .news .ultimas {
    grid-template-columns: 50% 50%;
    gap: 10px;
    justify-content: center;
    margin-bottom: 30px;
  }
  section.outras-noticias .center .news .mais-lidas .news-plus .card-news {
    gap: 10px;
    margin-bottom: 15px;
  }
  section.outras-noticias .center .news .mais-lidas .news-plus .card-news img {
    height: 150px;
  }
  section.outras-noticias .center .news .mais-lidas .news-plus .card-news .text div.overview {
    margin: 10px 0 10px 0;
    display: block;
  }
}
@media (max-width: 768px) {
  section.noticia-destaque .center div.destaque {
    min-height: 400px;
    height: 100%;
  }
  section.noticia-destaque .center div.destaque .text-destaque h1 {
    font-size: 25px;
  }
  section.noticia-destaque .center div.destaque .text-destaque p {
    font-size: 15px;
  }
  section.outras-noticias .center .news {
    grid-template-columns: 100%;
  }
  section.outras-noticias .center .news .ultimas {
    grid-template-columns: 100%;
  }
  section.outras-noticias .center .news .mais-lidas .news-plus .card-news {
    gap: 10px;
    margin-bottom: 15px;
    grid-template-columns: 40% 60%;
  }
  section.outras-noticias .center .news .mais-lidas .news-plus .card-news img {
    height: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
