footer{
   padding: 20px 0;
   background-color: $default-color-black;
   border-top: 2px solid $default-color-aqua;
   color: $default-color-aqua;
   p{
      font-family: $font-type-sec;
      font-weight: $font-weight-200;
      display: flex;
      align-items: center;
      justify-content: center;
      b{
         margin-left: 4px;
      }
      span{
         display: flex;
         align-items: center;
         justify-content: center;
         margin-left: 4px;
         width: 20px;
         height: 20px;
         background-color: $default-color-aqua;
         color: $defaul-color-gray;
         border-radius: 50%;
      }
   }
}