<%-include('../partials/header.ejs')%>
<main>
   <section class="noticia-destaque">
      <div class="center">
         <div class="destaque" style="--img: url(https://lh3.googleusercontent.com/piHFj07SUK1RGe0LuNswmLVo8vIoqC0M7UeSB_RAWf24Q4sVxsYpsNux8ZBHjZvihThUpGtwTR6d=e14-rj-sc0xffffff-h338-w600);">
            <div class="text-destaque">
               
               <h1>Título</h1>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam delectus modi soluta porro sequi, at optio id in placeat. Pariatur omnis delectus voluptatem minus doloremque fuga consequatur labore rem ullam...</p>
               <a href="" class="linkbutton"><span>Ler mais</span></a>
            </div>
         </div>
      </div>
   </section>
</main>
<script src="/js/header.js"></script>
<%-include('../partials/footer.ejs')%>